.contenta {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.contentleft {
  display: flex;
  background-image: url("../public/Image_Pasted_at_2024-7-18_11-13.png");
  background-size: cover;
  width: 35%;
  height: 100%;
}

.contentright {
  display: flex;
  flex-direction: column;
  background-color:rgb(1, 3, 26);
  width: 65%;
  height: 100%;
}